$vista: desktop;
$vista: mobile;

@if $vista == desktop {
    @media (max-width: 1000px) {

         .seccion_carrusel_uno {
            padding-top: 20px;
            width: 100%;
    
            .carousel-item {
                height: 100%;
                width: 100%;
                .img_carrusel {
                    border-radius: $bordes_radio_15;
                    .seccion_dos {
                        background-color: map-get($paleta_colores, "negro")
                    }
                }
            }
        }
     }
     
}
.card-text {
    display: none;
}
   
.card-img-top {
   width: 100%;
    height: 100%;
   
}
.card-body{
   display: none;
}


@if $vista == mobile {
    @media (max-width: 600px){
       .contenedor_img_espacios{
           border: 1.5px solid rgb(65, 65, 65);
           margin-top: 1rem;
           margin-bottom: 1rem;

           .card-body h5{
               font-size: 1rem;
               text-align: center;
           } 
           .card-body p {
               display: none;
           }
       }
   }

    }

